.notes-related {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 1.2em;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 5px;
  position: relative;
}

.card > button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.3rem;
  color: darkgoldenrod;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.title {
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  font-weight: bold;
  color: black;
  font-family: 'Nova Square', sans-serif;
}

.date {
  font-size: 0.9rem;
  color: darkgoldenrod;
  font-weight: bold;
  margin: 10px 0px;
}

.left {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: black;
}

.left > small {
  padding: 5px 17px;
  background: gray;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 0px 8px;
  text-align: center;
}

a {
  text-decoration: none;
}
